{{#each this}}

<h1 class="country-name">{{name}}</h1>
<p class="capital">:{{capital}}</p>
<p class="population">{{population}}</p>

<ul>
    {{#each languages}}
    <li>{{name}} </li>
    {{/each}}

</ul>
<img src="{{flag}}" alt="flag" width="300">
{{/each}}